/* custom faq styles */

.faq-header {
  margin-top:100px;
}

.faq-subtext {
  color: rgb(189, 195, 199);
}

.answer {
  margin-top:20px;
  margin-left:20px;
}

.instructions{
    margin-top:60px;
    font-size:20px;
}